name: Update Master Playlist

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'  # Runs every 6 hours

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create folders
        run: |
          mkdir -p sources
          mkdir -p build

      - name: Download playlists
        run: |
          wget -O sources/lgtv.m3u https://raw.githubusercontent.com/alex8875/m3u/refs/heads/main/lgtv.m3u
          wget -O sources/jtv.m3u https://raw.githubusercontent.com/alex8875/m3u/refs/heads/main/jtv.m3u
          wget -O sources/zee.m3u https://raw.githubusercontent.com/fakeall12398-sketch/JIO_TV/refs/heads/main/zee.m3u

      - name: Build master playlist
        run: |
          echo "#EXTM3U" > build/master.m3u

          # Add static channels if present
          if [ -f static/my_static.m3u ]; then
            tail -n +2 static/my_static.m3u | sed -E 's/(#EXTINF:-1).*group-title="([^"]*)"(.*)/\1 group-title="\2",\3/' >> build/master.m3u
          fi

          # Process source playlists
          for f in sources/*.m3u; do
            tail -n +2 "$f" | sed -E 's/(#EXTINF:-1).*group-title="([^"]*)"(.*)/\1 group-title="\2",\3/' >> build/master.m3u
          done

      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add build/master.m3u
          git commit -m "Auto update master playlist" || true
          git push
