name: Update Master Playlist

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Fetch playlists
      run: |
        mkdir -p sources build
        curl -L https://raw.githubusercontent.com/alex8875/m3u/refs/heads/main/lgtv.m3u -o sources/lgtv.m3u
        curl -L https://raw.githubusercontent.com/alex8875/m3u/refs/heads/main/jtv.m3u -o sources/jtv.m3u
        curl -L https://raw.githubusercontent.com/fakeall12398-sketch/JIO_TV/refs/heads/main/sony.m3u -o sources/sony.m3u
        curl -L https://raw.githubusercontent.com/alex8875/m3u/refs/heads/main/z5.m3u -o sources/z5.m3u

    - name: Build master playlist
      run: |
        chmod +x scripts/build_master.sh
        ./scripts/build_master.sh

    - name: Commit changes
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add .
        git commit -m "Auto update playlist" || echo "No changes"
        git push
